.slider-p{
    padding: 12px 15px;
}

h1 {
    margin-top: 0px;
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}

#main .thumbnail img{
    margin-top: 5px;
    width: 55%;
}

#main .thumbnail h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-info{
    cursor: pointer;
}

.header-info:hover{
    color: #31b0d5;
}
